<h2>{{sectionTitle}}</h2>
<div class="row">
    <div class="col-xs-3 pull-right">        
        <label  class="center-block"> Order by: 
            <select  class="form-control input input-sm" [(ngModel)]="order">
                <option value="name"> By name</option>
                <option value="avgHeight">By Height</option>
                <option value="avgWeight">By Weight</option>
            </select>
        </label>
    </div>
</div>
<animal-card *ngFor="let animal of animals | orderBy: order" [animal]="animal"  (onZero)="handleZero($event)"></animal-card>