<div class="col-xs-6 col-md-4 col-lg-3">
    <div class="header">
        <div class="image">
            <img src="{{animal.imgPath}}" class="img-thumbnail">        
        </div>
    </div>
    <div class="body">
        <h3>{{animal.name}}</h3>
        <div class="row">
            <div class="col-xs-4">
                <div>Height: {{animal.avgHeight}}</div>
                <div>Class: {{animal.class}}</div>
            </div>
            <div class="col-xs-4">
                <div>Weight: {{animal.avgWeight}} </div>
                <div>Quantity: {{animal.quantity}}</div>
            </div>
        </div>
        <div class="row">
            <h5>{{animal.description}}</h5>
        </div>
    </div>
</div>