<div class="col-xs-6 col-md-4 col-lg-3">
    <div class="header">
        <div class="image">
            <img src="{{animal.imgPath}}" class="img-thumbnail">        
        </div>
    </div>
    <div class="body">
        <h3>{{animal.name}}</h3>
        <div class="row">
            <div class="col-xs-6">
                <div>Height: {{animal.avgHeight}}</div>
                <div>Class: {{animal.class}}</div>
            </div>
            <div class="col-xs-6">
                <div>Weight: {{animal.avgWeight}} </div>                
            </div>
        </div>
        <div class="row">                
            <div class="col-xs-6" *ngIf="!editable">                            
                    Quantity: {{animal.quantity}}
                        
            </div>
            <div class="col-xs-6" *ngIf="editable">
                <span class="">
                    <input [(ngModel)]="quantity" class="form-control">                                
                </span>                            
            </div>
            <div class="col-xs-6" (click)="toggleEditable()">
                <span>
                    <i class="glyphicon glyphicon-edit"></i>
                </span>
            </div>                   
        </div>
        <div class="row">
            <h5>{{animal.description}}</h5>
        </div>
    </div>
</div>